/* Import the Google Fonts font */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/* Apply the 'Gabarito' font to the body of the page with backup fonts */
body,
.msg h2 {
    font-family: 'Gabarito', sans-serif;
    line-height: 1.5em;
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    border-radius: 5px;
}

h2 {
    margin: 0;
}

/* Apply the 'Gabarito' font to titles with backup fonts */
.home-title {
    font-family: 'Gabarito', sans-serif;
    font-size: 2em;
    margin-top: 50px;
}


/* Content Container */
#content {
    max-width: 1600px;
    /* Maximum width for the content container */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add internal spacing to the container */
}

/* Navigation Links */
nav a {

    margin-top: 50px;
    /* Use margin to space out the content on your page */
    padding: 35px;
    /* Use padding to space out the content on your page */
    text-align: center;
    /* Center text within navigation links */
    text-decoration: none;
    /* Remove default underline decoration */
    color: #ffff
        /* Set text color for navigation links */





}


nav a:hover {
    background-color: var(--secondary-color);
    /* Background color on hover for navigation links */
    color: var(--accent2-color);
    /* Text color on hover for navigation links */
}

/* Hero Message */
#hero-msg {
    text-align: center;
    /* Center text within the hero message */
    background-color: #f8ca55;
    /* Semi-transparent background color for the hero message */
    padding: 50px;
    /* Add internal spacing to the hero message */
    color: #ffffff;
    /* Set text color for the hero message */
    margin: 20px;
}

/* Centered Text */
.button-box,
main section {
    text-align: center;
    /* Center text within elements with the "button-box" class and within main sections */

}

/* Background Container */
#background {
    height: 725px;
    /* Set the height of the background container */
    background-color: var(--accent1-color);
    /* Background color for the background container */
}

/* Image Layout */
.image-container {
    display: inline-block;
    /* Display elements side by side */
    margin-right: 20px;
    /* Add right margin for image separation */
}

.social {
    display: inline-block;
    margin-right: 5px;
    color: #000000;


}

/* Background Colors */
body {
    background-color: #fcfbfb;
}

header {
    background-color: #b8e5ff
}

nav a:hover {
    background-color: #f8ca55;
}


.book,
.join {
    background-color: var(--secondary-color);
    /* Background color for "book" and "join" links */
    color: #0c6ca4;
    /* Text color for "book" and "join" links */
    text-align: center;
    /* Center text within "book" and "join" links */
    padding: 0;
    /* Add internal spacing to "book" and "join" links */
    border-radius: 5px;
    /* Add rounded corners to "book" and "join" links */
    text-decoration: none;
    /* Remove default underline decoration */
    text-decoration: underline;


}

.book:hover,
.join:hover {
    background-color: #f8ca55;
    /* Darker green background color on hover for "book" and "join" links */
}

/* Message Section */
.msg,
.home-title {
    margin: 0;
    margin-top: 50px;
    padding: 20px;
    /* Add internal spacing to the message section */
    background-color: #f8ca55;
    color: #000
}

/* Footer */
footer {
    background-color: #0c6ca4;
    /* Dark background color for the footer */
    color: #ffff;
    /* Text color for the footer */
    padding: 10px 0;
    /* Add internal spacing to the footer */
    text-align: center;
    /* Center text within the footer */
    font-size: 1.2em;
    margin: 20px;
    margin: 0;
    margin-top: 50px;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}


.button {
    background-color: var(--accent2-color);
}

.icon {
    width: 150px;
    margin: 0;
    padding: 0;

}

.card-img {
    border: 10px solid #0c6ca4;
}

main section img {
    box-sizing: border-box;
}